{% include 'base.html.twig' %}

{% block body %}

<div class="float-end">
<a class="btn btn-primary withimg" href="/order" id="history"> <i class="fas fa-shopping-cart"></i><br>Sepetim</a>   <br>

<p class="text-center" id="cart_info"> {% if cart == null %} Ürün Yok   {% else %}  {{ cart }} Ürün  {% endif %} </p>


</div>




{% if products %} {% set count = 1 %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ürün Adı</th>
      <th scope="col">Ürün Fiyatı</th>
      <th scope="col">İşlem</th>
    </tr>
  </thead>
  <tbody>
{% for product in products %}
<tr>
            <td>{{ count }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td><button id="{{ product.id }}" class="btn btn-primary opmdl">Sepete Ekle</button> </td>
</tr>
{% set count = count + 1 %}
{% endfor %}
</tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="align-self:center">
Adet:
<input type="button" id="decrementValue" value="-" />
<input type="text" name="quantity" value="1" size="1" id="number" />
<input type="button" id="incrementValue" value="+" />

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary cart">Ekle</button>
      </div>
    </div>
  </div>
</div>

{% else %}
    <p>Görüntülenecek Ürün Yok</p>
{% endif %}


{% block javascripts %}
<script src="/js/user.js"></script>
{% endblock %}


{% endblock %}