{% include 'base.html.twig' %}

{% block body %}

{% if products %} {% set count = 1 %} 
<div class="card">
  <div class="card-body">


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ürün Adı</th>
      <th scope="col">Ürün Fiyatı</th>
      <th scope="col">Adet</th>
      <th scope="col">Toplam Fiyat</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% for key, product in products %}
<tr>
            <td>{{ count }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price * product.quantity }}</td>
            <td><a href="/cart_remove/{{ key }}" class="btn btn-danger cart" >Delete</a> </td>
</tr>
{% set count = count + 1 %}
{% endfor %}
</tbody>
</table>
  </div>

<div style="width:50%;align-self: center;">


    {{ form_start(form) }}
        {{ form_row(form.address) }}
        {{ form_row(form.payment_method) }}


    <button class="btn btn-lg btn-primary" type="submit">Register</button>
    {{ form_end(form) }}

 </div>


</div>

{% else %}
    <p>Görüntülenecek Ürün Yok</p>
{% endif %}


{% block javascripts %}

{% endblock %}


{% endblock %}