{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div style="margin-left: 25%;margin-right: 25%;">
    <h1>Kayıt Ol</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

     <a href="/login">Giriş Yap</a><br>
    <button class="btn btn-lg btn-primary" type="submit">Kayıt</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
