:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.withimg i {font-size: 60px;}

.withimg{width:120px; background: transparent;border:none;}

.clearall{
    background-color: transparent;
    border: none;
    outline: none;
    color: #007bff;
}
.clearallcontainer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.exchangebutton{background: transparent;border:none; outline: none;}


