{% extends 'base.html.twig' %}

{% block body %}


{% if orders %} {% set count = 1 %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ödeme Türü</th>
      <th scope="col">Sipariş Tarihi</th>
      <th scope="col">Tutar</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% for order in orders %}
<tr>
            <td>{{ count }}</td>
            <td>{{ order.paymentmethod }}</td>
            <td>{{ order.createdAt|date("m/d/Y H:i:s") }}</td>
            <td>{{ order.cost }}</td>
            <td><a href="/admin/order_confirm/{{ order.id }}" class="btn btn-light">Onayla</a></td>
</tr>
{% set count = count + 1 %}
{% endfor %}
</tbody>
</table>

{% else %}
    <p>Görüntülenecek Sipariş Yok</p>
{% endif %}

{% endblock %}