<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <!-- CSS only -->

<link href="/css/all.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %} 
        <script src="/js/bootstrap.js"></script>
        <script src="/js/jquery.js"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    {% if app.user %}
    <nav class="navbar navbar-light bg-light">
    {% if app.token.getRoleNames()[0]=='ROLE_ADMIN' %}
    <a class="navbar-brand" href="{{ path('app_admin') }}">Ürünler</a> 
    <a class="navbar-brand" href="{{ path('app_admin_orders') }}">Siparişler</a> 

    {% else %}
    <a class="navbar-brand" href="{{ path('app_home') }}">Ürünler</a> 

    {% endif %}


<div class="navbar-nav ms-auto mb-2 mb-lg-0">
    <a class="navbar-brand" href="{{ path('app_logout') }}">Çıkış</a> 
  </div>
</nav>
    {% endif %}

    {% block body %}{% endblock %}
    </body>
</html>
