{% extends 'base.html.twig' %}



{% block body %}

<div style="margin-left: 25%;margin-right: 25%;">
    <h1>Yeni Ürün</h1>
    {{ form_start(editform) }}
        {{ form_row(editform.name) }}
        {{ form_row(editform.price) }}


    <button class="btn btn-lg btn-primary" type="submit">Güncelle</button>
    {{ form_end(editform) }}
    </div>
{% endblock %}
