{% extends 'base.html.twig' %}


{% block body %}

<div style="margin-left: 25%;margin-right: 25%;">
    <h1>Yeni Ürün</h1>
    {{ form_start(newproductForm) }}
        {{ form_row(newproductForm.name) }}
        {{ form_row(newproductForm.price) }}


    <button class="btn btn-lg btn-primary" type="submit">Ekle</button>
    {{ form_end(newproductForm) }}
    </div>
{% endblock %}
