{% include 'base.html.twig' %}

{% block body %}

<a class="btn btn-primary" href="{{ path('app_admin_new') }}">Yeni Ürün</a> 

{% if products %} {% set count = 1 %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ürün Adı</th>
      <th scope="col">Ürün Fiyatı</th>
      <th scope="col">İşlem</th>
    </tr>
  </thead>
  <tbody>
{% for product in products %}
<tr>
            <td>{{ count }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
              <a href="/admin_edit/{{ product.id }}" class="btn btn-light">Edit</a>
              <a href="#" class="btn btn-danger" id="{{ product.id }}">Delete</a>
            </td>
</tr>
{% set count = count + 1 %}
{% endfor %}
</tbody>
</table>

{% else %}
    <p>Görüntülenecek Ürün Yok</p>
{% endif %}

{% block javascripts %}
<script src="/js/main.js"></script>
{% endblock %}

{% endblock %}

